[submodule "dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "misc/solarized-sublimetext2"]
	path = misc/solarized-sublimetext2
	url = https://github.com/mybuddymichael/solarized-sublimetext2.git
[submodule "packages/git-remote-hg"]
	path = packages/git-remote-hg
	url = https://github.com/felipec/git-remote-hg
[submodule "misc/solarized-limechat"]
	path = misc/solarized-limechat
	url = https://github.com/paulcpederson/solarized-limechat
